# Archivos de sistema de Windows
/[Ee]scritorio/
/[Dd]ocumentos/
/[Dd]escargas/
/[Mm]úsica/
/[Ii]mágenes/
/[Vv]ídeos/
/[Aa]pp[Dd]ata/
/NTUSER.*
/ntuser.*
*.log1
*.log2
*.regtrans-ms
*.blf
*.ini

# Archivos de herramientas de desarrollo
/.vs/
/.vscode/
/.dotnet/
/.nuget/